.openlaw-form {
  margin-right: 24px;
  width: 50%;

  label,
  select,
  textarea,
  input[type="text"],
  input[type="number"],
  input[type="file"],
  input[type="email"] {
    display: block;
    margin-top: 6px;
  }

  .contract-variable {
    display: block;
    margin-top: 12px;
  }

  .radio-label {
    display: inline-block;
    margin-right: 12px;
  }

  .radio-label input[type="radio"] {
    margin-right: 6px;
  }

  .is-error {
    outline: 1px dashed red;
  }

  .Collapsible {
    border-bottom: 1px dashed lightgrey;
    padding-bottom: 24px;
    margin-bottom: 24px;

    .Collapsible__trigger {
      cursor: pointer;
      display: block;
      font-family: sans-serif;
      font-size: 1.5rem;
      margin-top: 1rem;
      &:hover {
        text-decoration: underline;
      }

      &.is-closed {
        color: #439bec;
      }

      &.is-open {
        color: #26cdd0;
      }
    }
  }
}
