// Constants
$NAMESPACE: 'openlaw-el';

// Fonts
$sans: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Colors
$black: #000;
$blue--aqua-lite: #d7f9fd;
$dark-grey: #333;
$grey: #7e7e7e;
$blue--aqua: #37c3dc;
$mid-grey: #aaa;
$off-white: #f2f2f2;
$purple-grey: #828092;
$red: #ec4c64;
$red-error--light: #fef6f7;
$red-error--dark: #ad4040;
$red-error__border: #ec9f9f;
$very-light-grey: #eee;
$white-smoke: #f5f5f5;
$white: #fff;

// We should find descriptive names, or unify to other greys
$button-text: #363636;

%text-input {
  -webkit-appearance: none;
  align-items: center;
  background: $white;
  border-radius: 0;
  box-sizing: border-box;
  color: $black;
  display: inline-flex;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 300;
  justify-content: flex-start;
  line-height: 1.5;
  outline: none;
  padding: .375rem .625rem;
  vertical-align: top;
  max-width: 100%;
  width: 100%;
}

.flatpickr-calendar {
  font-family: $sans;
}

.openlaw-form {
  font-family: $sans;

  .contract-section {
    padding-bottom: 1rem;

    > span:first-of-type {
      display: block;
      font-size: 1.375rem;
      font-weight: 400;
      margin-bottom: 1rem;
      word-break: break-word;
    }
  }

  .contract-variable {
    display: flex;
    flex-direction: column;
    margin: 0 0 1.2rem;
    position: relative;
    width: 100%;

    label > span {
      display: none;
    }

    [type="email"],
    [type="number"],
    [type="text"],
    select {
      @extend %text-input;

      // Must procede border-bottom line
      border: 0;
      border-bottom: 1px solid $grey;

      height: 2.25rem;

      &:focus {
        border-bottom-color: $blue--aqua;
        background: $blue--aqua-lite;
      }

      &::placeholder {
        color: $mid-grey;
      }

      .ios-label {
        color: $mid-grey;
        font-size: 1rem;
        position: absolute;
        top: .3125rem;
        left: .5625rem;
      }
    }

    textarea {
      @extend %text-input;

      border: 1px solid $grey;
      height: 9rem;
    }

    &.file {
      label span,
      button {
        border-radius: 6px;
        border: 1px solid $purple-grey;
        display: block;
        color: #333;
        cursor: pointer;
        display: inline-block;
        font-size: 1rem;
        padding: .1875rem 1.5rem;
        text-align: center;
      }

      label span {
        &:focus,
        &:hover {
          background-color: $off-white;
        }
      }
    }

    [type="date"]:focus ~ .ios-label,
    [type="date"]:active ~ .ios-label {
      display: none;
    }

    button.image {
      border: none;
      font-family: inherit;

      &:disabled {
        opacity: .5;
        cursor: not-allowed;
      }
    }

    > .button {
      width: fit-content;
    }

    &.choice label {
      font-weight: 300;

      > span {
        display: block;
        margin-bottom: .5rem;
      }
    }

    &.contract-question {
      label {
        font-weight: 300;
        margin: 0 0 .6rem;

        > span {
          display: inline;
        }
      }
    }

    &.external-signature small {
      margin: 6px 10px 0;
      display: inline-block;
      color: #7e7e7e;
    }

    input:disabled,
    select:disabled,
    textarea:disabled,
    label span.ole-image__span--disabled {
      background: #e8e8e8;
      color: #6d6d6d;

      &:hover {
        background: #e8e8e8;
        cursor: not-allowed;
      }
    }
  }

  [type="file"] {
    &.image {
      height: .1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      width: .1px;
      z-index: -1;
    }
  }

  [type="radio"]  {
    margin: 0 1.125rem;
  }

  .Collapsible__trigger {
    color: $dark-grey;
    cursor: pointer;
    display: block;
    font-family: $sans;
    font-size: 1.375rem;
    margin: 1.5rem 0 1rem;
    word-break: break-word;
  }

  .collection-variable-description {
    font-weight: bold;
    margin-bottom: .9rem;
  }

  .collection-variable-remove {
    color: $red;
    cursor: pointer;
    margin-left: .3rem;
    padding: 0 .6rem;

     svg {
       height: 1.1rem;
       width: 1.1rem;
     }
  }

  .collection-variable-row {
    display: flex;
  }

  .contract-description-draft {
    background-color: paleturquoise !important;
  }

  .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    background-color: $white-smoke;
    border-radius: .1875rem;
    border: 0;
    box-sizing: border-box;
    color: $button-text;
    cursor: pointer;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25rem;
    justify-content: flex-start;
    line-height: 1.5;
    padding: .375rem .75rem;
    position: relative;
    text-align: center;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;

    &:hover {
      background-color: $very-light-grey;
    }
  }
}
  
/* FIELDS */

.#{$NAMESPACE}-field {
}

/* ERRORS */
  
.#{$NAMESPACE}-field--error {
  border-bottom-color: $red-error__border !important;
}

.#{$NAMESPACE}-field__error-message {
  background-color: $red-error--light;
  color: $red-error--dark;
  display: inline-block;
  font-size: .875em;
  line-height: 1.5;
  padding: .1875em .625em;
}

/* REACT AUTOSUGGEST */

.react-autosuggest__section-title {
    font-weight: 500;
    padding: .625rem;
}

.react-autosuggest__suggestion {
  &:hover,
  &[aria-selected="true"] {
    background-color: $blue--aqua;
    color: white;
  }

  &-default {
    cursor: initial;
    pointer-events: none;

    &:hover,
    &[aria-selected="true"] {
      background-color: currentColor;
      color: currentColor;
    }
  }
}

.react-autosuggest__suggestions-container--open {
  background-color: #ebfdff;
  position: absolute;
  width: 100%;
  z-index: 10;

  ul {
    list-style: none;
    margin: 0;
    padding: .625rem;
  }

  li {
    cursor: pointer;
    margin: 0 -.625rem;
    padding: .625rem;
  }
}
