// Constants
$NAMESPACE: 'openlaw-el';

// Fonts
$system-sans: -apple-system,
  BlinkMacSystemFont,
  Segoe UI,
  Helvetica,
  Arial,
  sans-serif,
  Apple Color Emoji,
  Segoe UI Emoji,
  Segoe UI Symbol;

// Colors
$black: #000000;
$blue--aqua-lite: #d7f9fd;
$blue--aqua: #37c3dc;
$dark-grey: #333333;
$grey: #7e7e7e;
$light-grey: #d8d8d8;
$mid-grey: #aaaaaa;
$off-white: #f2f2f2;
$purple-grey: #828092;
$red-error__bg: #fef6f7;
$red-error: #ff7070;
$very-light-grey: #eeeeee;
$white-smoke: #f5f5f5;
$white: #ffffff;

// Measurements
$text-input-height: 2.25rem;

/* SHARED */

%button-reset {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border-radius: 0;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
}

%flex-row-split {
  display: flex;
  justify-content: space-between;
}

%input-disabled {
  background: $very-light-grey;
  color: $grey;

  &:hover {
    background: $very-light-grey;
    cursor: not-allowed;
  }
}

%text-input {
  -webkit-appearance: none;
  align-items: center;
  border-radius: 0;
  box-sizing: border-box;
  color: $dark-grey;
  display: inline-flex;
  font-family: inherit;
  font-size: 1rem;
  justify-content: flex-start;
  line-height: 1.5;
  outline: none;
  padding: .375rem .625rem;
  vertical-align: top;
  max-width: 100%;
  width: 100%;
}

%visually-hidden {
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

/* FORM */

.#{$NAMESPACE}-form {
  font-family: $system-sans;
}

/* COLLECTION */

.#{$NAMESPACE}-collection__description {
  font-weight: 600;
  margin-bottom: .75rem;
}

.#{$NAMESPACE}-collection__row {
  display: flex;
}

.#{$NAMESPACE}-collection__button-remove {
  @extend %button-reset;

  display: flex;
  height: $text-input-height;
  justify-content: center;
  margin-left: .5rem;
  transition: color .25s ease, box-shadow .25s ease, border-radius .25s ease;
  width: $text-input-height;

  svg {
    height: 1.1rem;
    width: 1.1rem;
  }

  span {
    @extend %visually-hidden;
  }

  &:hover,
  &:focus {
    border-radius: .5rem;
    box-shadow: 0 0 0 2px currentColor inset;
    color: $red-error;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    border-radius: .5rem;
  }
}

/* STRUCTURE */

.#{$NAMESPACE}-structure {
  width: 100%;
}

.#{$NAMESPACE}-collection__row .#{$NAMESPACE}-structure {
  margin-bottom: 1.5rem;
}

/* FIELDS */

.#{$NAMESPACE}-field {
  color: $dark-grey;
  margin: 0 0 1.2rem;
  position: relative;
  width: 100%;
}

// clean labels
// hide all label text, except yesno and choice
.#{$NAMESPACE}-field:not(.#{$NAMESPACE}-field-choice):not(.#{$NAMESPACE}-field-yesno) .#{$NAMESPACE}-field__label-text {
  @extend %visually-hidden;
}

.#{$NAMESPACE}-field__label-text {    
  display: inline-block;
  font-weight: bold;
  margin-bottom: .75rem;
}

.#{$NAMESPACE}-field__input,
.#{$NAMESPACE}-field__input,
.#{$NAMESPACE}-field__input,
.#{$NAMESPACE}-field__select {
  @extend %text-input;

  border: 0;
  box-shadow: 0 -0.109rem 0 0 $grey inset;
  height: $text-input-height;
  transition: box-shadow .25s ease;

  &:focus {
    box-shadow: 0 -0.1875rem 0 0 $blue--aqua inset;
  }
}

.#{$NAMESPACE}-field__radio {
  margin: 0 1.125rem;
}

.#{$NAMESPACE}-field__select {
  background-color: $white;
}

.#{$NAMESPACE}-field__select {
  background-color: $white;
  color: $dark-grey;
}

.#{$NAMESPACE}-field__textarea {
  @extend %text-input;

  border: none;
  border-radius: .375rem;
  box-shadow: 0 0 0 0.109rem $grey inset;
  height: 9rem;
  transition: box-shadow .25s ease;

  &:focus {
    box-shadow: 0 0 0 0.1875rem $blue--aqua inset;
  }
}

.#{$NAMESPACE}-field__input[type="file"] {
  height: .1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: .1px;
  z-index: -1;
}

.#{$NAMESPACE}-collection button:disabled,
.#{$NAMESPACE}-field__input:disabled,
.#{$NAMESPACE}-field__select:disabled,
.#{$NAMESPACE}-field__textarea:disabled {
  @extend %input-disabled;
}

.#{$NAMESPACE}-field__radio:disabled {
  ~ span {
    color: $grey;
    
    &:hover { 
      cursor: not-allowed;
    }
  }

  &:hover {
    cursor: not-allowed;
  }
}

.#{$NAMESPACE}-field-image__editor {
  border-radius: .375rem;
  border: 1px solid #d8d8d8;
  margin: .375rem 0;
  padding: 1.2rem;
}

.#{$NAMESPACE}-field-image__editor-actions {
  @extend %flex-row-split;
  align-items: center;
  flex-direction: row-reverse;
  margin: 1rem auto .375rem;
  width: 10rem;
}

.#{$NAMESPACE}-field-image__editor-actions--stacked {
  flex-direction: column;

  > .#{$NAMESPACE}-button ~ div {
    @extend %flex-row-split;
  }

  .#{$NAMESPACE}-button-secondary {
    display: inline-block;
    margin-top: .625rem;

    &:first-child {
      margin-right: 3rem;
    }
  }
}

.#{$NAMESPACE}-field-date,
.#{$NAMESPACE}-field-datetime {
  // https://flatpickr.js.org/mobile-support/
  input[type="date"],
  input[type="datetime-local"] {
    display: flex;
    font-size: 1rem;
    margin-bottom: 1.2rem;
    width: 100%;
  }

  .#{$NAMESPACE}-field__label--ios {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin: .375rem 0;
    padding: 0;
  }
}

.#{$NAMESPACE}-field-externalsignature .#{$NAMESPACE}-field__input ~ small {
  display: inline-block;
  font-size: .6875rem;
  font-weight: bold;
  margin-top: .375rem;
  padding: 0 .625rem;
}

/* FIELD: ERRORS */

.#{$NAMESPACE}-field__input--error {
  box-shadow: 0 -0.1875rem 0 0 $red-error inset;
}

.#{$NAMESPACE}-field__error-message span {
  background-color: $red-error__bg;
  border-radius: .375rem;
  color: $red-error;
  display: inline-block;
  font-size: .875em;
  font-weight: bold;
  line-height: 1.5;
  margin-top: .375rem;
  padding: .1875em .625em;
}

/* FIELD: EXTRA TEXT */

.#{$NAMESPACE}-field__extra-text {
  color: $grey;
  margin-top: .5rem;
  margin-left: .625rem;
}

/* BUTTONS */

.#{$NAMESPACE}-button {
  @extend %button-reset;

  align-items: center;
  background-color: $very-light-grey;
  border-radius: .375rem;
  color: $dark-grey;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 500;
  height: $text-input-height;
  justify-content: flex-start;
  line-height: 1.5;
  padding: .375rem 0.625rem;
  text-align: center;
  vertical-align: top;
  transition: background-color ease .25s, box-shadow ease .25s;

  &:hover {
    background-color: darken($very-light-grey, 7%);
  }
  
  &:active {
    background-color: lighten($very-light-grey, 7%);
    box-shadow: none;
  }

  &:focus {
    box-shadow: 0 0 0 2px darken($very-light-grey, 50%) inset;
    outline: none;
  }

  &.#{$NAMESPACE}-button--disabled {
    @extend %input-disabled;
  }
}


.#{$NAMESPACE}-button-secondary {
  @extend %button-reset;

  color: $grey;
  font-size: 1rem;
  font-weight: bold;
  transition: color ease .25s;

  &:hover,
  &:focus {
    color: darken($grey, 25%);
    outline: none;
    text-decoration: underline;
  }

  &:active {
    color: darken($grey, 100%);
    outline: none;
    text-decoration: none;
  }
}

/* OVERRIDES: REACT AUTOSUGGEST */

.react-autosuggest__section-title {
  font-weight: 500;
  padding: .625rem;
}

.react-autosuggest__suggestion {
  background-color: $white; 
  font-weight: 600;
  transition: background .1s ease;

  &:hover,
  &[aria-selected="true"] {
    background-color: $blue--aqua;
    color: $white;
  }

  &-default {
    cursor: initial;
    pointer-events: none;

    &:hover,
    &[aria-selected="true"] {
      background-color: currentColor;
      color: currentColor;
    }
  }
}

.react-autosuggest__suggestions-container--open {
  background-color: $white;
  box-shadow: 0 0 0 2px;
  border-radius: 0 0 .375rem .375rem;
  margin-top: -.0625rem;
  position: absolute;
  width: 100%;
  z-index: 10;

  ul {
    list-style: none;
    margin: 0;
    padding: .625rem;
  }

  li {
    cursor: pointer;
    margin: 0 -.625rem;
    padding: .625rem;
  }
}

/* OVERRIDES: FLATPICKR CAL */

.flatpickr-calendar {
  font-family: $system-sans;
}

.flatpickr-day {
  &:hover {
    background: $blue--aqua-lite;
    border-color: transparent;
  }
  
  &.selected,
  &.nextMonthDay.selected {
    background: $blue--aqua;
    border-color: transparent;

    &:hover {
      background: $blue--aqua;
      border-color: transparent;
    }

    &:focus {
      background: darken($blue--aqua, 10%);
      border-color: transparent;
    }
  }
}